<ng-container *ngFor="let event of eventList">
        <div class="outer">
            <h2>{{ event.name }}</h2>
            <button mat-raised-button color="primary" (click)="event.hidden = false" [disabled]="!event.hidden">Expand</button>
            <button mat-raised-button color="warn" (click)="event.hidden = true" [disabled]="event.hidden">Collapse</button>
            <div [hidden]="event.hidden">
                <div [ngSwitch]="event.format">
                    <p *ngSwitchCase="'InPerson'">In-Person</p>
                    <p *ngSwitchCase="'Online'">Online Only</p>
                    <p *ngSwitchDefault>TBD</p>
                </div>
                <p>Date: {{ event.date }}</p>
                <p>Time: {{ event.time }}</p>
                <p *ngIf="event.location != null">
                    Location: 
                    {{ event.location.address }}, 
                    {{ event.location.city }}, 
                    {{ event.location.state }}, 
                    {{ event.location.pin }}, 
                    {{ event.location.country }}
                </p>
                <p *ngIf="event.onlineUrl != null">Online URL: {{ event.onlineUrl }}</p>
                <br/>
            </div>
        </div>
    </ng-container>